/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-basic), Arial, sans-serif;
  font-variation-settings: 'wght' var(--font-basic-weight-text);
  color: var(--theme-mainColor);
  background-color: var(--background-color);
  background-size: cover;
  background-image: var(--background-image-horizontal), var(--background-image-vertical), var(--background-image-general);
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Экраны меньше ширины 375px */

@media (width <= 375px) {
  .header {
    width: 100%;
  }

  .logo__title {
    margin-block-start: 120px;
  }

  .theme-menu__list {
    padding-block-start: 1px;
    padding-inline-start: 20px;
  }

  .card {
    width: 100%;
  }

  .main {
    gap: 51px;
  }

  .section__title {
    margin-inline-start: 10px;
  }

  .picture__text {
    right: 14px;
    top: 21px;
  }

  .section__text {
    margin-inline-start: 25px;
    margin-inline-end: 28px;
    margin-block-start: 23px;
    margin-block-end: 4px;
  }

  .main-section__button {
    margin-block-start: 21px;
    margin-block-end: 25px;
    margin-inline-end: 25px;
  }

  .footer__button {
    flex-direction: column;
    inline-size: 306px;
    height: 80px;
  }

  .footer__disk {
    width: 28px;
    height: 28px;
  }

  .popup {
    width: 341px;
  }

  .popup-button {
    width: 257px;
  }

  .popup-container {
    margin-inline-start: 40px;
    margin-inline-end: 40px;
  }

}

@media (width > 375px) {
  .header {
    width: clamp(var(--header-block-min), var(--header-block-mid), var(--header-block-max));
  }

  .logo__title {
    margin-block-start: 136px;
  }

  .theme-menu__list {
    padding-block-start: 2px;
    padding-inline-start: 12px;
  }

  .card {
    width: clamp(var(--header-block-min), var(--header-block-mid), var(--header-block-max));
  }

  .main {
    gap: 49px;
  }

  .section__title {
    margin-inline-start: 8px;
  }

  .picture__text {
    right: 25px;
    top: 25px;
  }

  .section__text {
    margin-inline-start: 23px;
    margin-inline-end: 23px;
    margin-block-start: 28px;
  }

  .main-section__button {
    margin-block-start: 25px;
    margin-block-end: 25px;
    margin-inline-end: 23px;
  }

  .footer__button {
    flex-direction: row;
    inline-size: 335px;
    height: 51px;
  }

  .footer__disk {
    width: 21px;
    height: 21px;
  }

  .popup {
    width: 357px;
  }

  .popup-button {
    width: 293px;
  }

  .popup-container {
    margin-inline-start: 29px;
    margin-inline-end: 29px;
  }

}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid var(--theme-mainColor);
  background-color: var(--background-color);
  margin-block-start: 101px;
}

.logo__title {
  display: block;
  color: var(--theme-mainColor);
  font-family: var(--font-additional), Arial, fantasy;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-style: normal;
  font-weight: var(--font-basic-weight-text);
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  border: none;
}

.header__text {
  color: var(--theme-mainColor);
  font-family: var(--font-additional), Arial, fantasy;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-style: normal;
  font-weight: var(--font-basic-weight-text);
  line-height: normal;
  text-transform: uppercase;
  margin-block-start: 19px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 11px;
  margin-block-start: 25px;
  margin-block-end: 25px;
  font-family: var(--font-additional), Arial, fantasy;
  font-weight: var(--font-basic-weight-text);
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.theme-menu__button {
  position: relative;
  padding: 0;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: var(--font-additional), Arial, fantasy;
}

.theme-menu__button:hover {
  animation: opacity 0.3s ease forwards;
}

.theme-menu__button::after {
  content: "";
  display: block;
  height: 2px;
  background-color: var(--theme-mainColor);
  animation: decorline__out 0.3s ease forwards;
}

.theme-menu__button:disabled {
  animation: opacity 0.3s ease forwards;
  pointer-events: none;
}

.theme-menu__button:focus {
  outline: none;
  animation: opacity 0.3s ease forwards;
}

.theme-menu__button:hover::after {
  animation: decorline__in 0.3s ease forwards;
}

.theme-menu__button:focus::after {
  animation: decorline__in 0.3s ease forwards;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  width: 14px;
  height: 14px;
  font-size: 14px;
  font-style: normal;
  font-weight: var(--font-basic-weight-text);
  line-height: normal;
  text-transform: uppercase;
  animation: arrow 0.5s infinite alternate ease-in-out;
}

.main {
  margin-block-start: 99px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  border: 2px solid var(--theme-mainColor);
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
}

.section__title {
  margin-inline-end: 10px;
  margin-block-start: 5px;
  margin-block-end: 5px;
  color: var(--theme-mainColor);
  font-family: var(--font-basic);
  font-size: 18px;
  font-style: normal;
  font-variation-settings: 'wght' var(--font-basic-weight-header);
  line-height: normal;
}

.picture {
  display: flex;
  flex-direction: column;
  position: relative;
  border-top: 2px solid var(--theme-mainColor);
  border-bottom: 2px solid var(--theme-mainColor);
}

.filter-bright {
  filter: brightness(200%);
}

.filter-contrast {
  filter: contrast(50%);
}

.filter-blur {
  filter: blur(0.5rem);
}

.filter-invert {
  filter: invert(80%);
}

.filter-grayscale {
  filter: grayscale(0.8);
}

.filter-opacity {
  filter: opacity(0.7);
}

.filter-saturate {
  filter: saturate(150%);
}

.picture__text {
  position: absolute;
  z-index: 1;
  color: var(--theme-mainColor);
  font-family: var(--font-additional), Arial, fantasy;
  font-size: 14px;
  font-style: normal;
  font-weight: var(--font-basic-weight-text);
  line-height: normal;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: -1px 0 var(--background-color), 0 1px var(--background-color), 1px 0 var(--background-color), 0 -1px var(--background-color);
}

.picture__text-uppercase {
  text-transform: uppercase;
}

@supports((text-stroke: 1px var(--background-color)) or (-webkit-text-stroke: 1px var(--background-color))) {
  .picture__text {
      -webkit-text-stroke: 1px var(--background-color);
      text-stroke: 1px var(--background-color);
      text-shadow: none;
  }
} 

.picture-fit {
  object-fit: cover;
  object-position: center;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}

.section__text {
  color: var(--theme-mainColor);
  font-family: var(--font-basic);
  font-size: 18px;
  font-style: normal;
  font-weight: var(--font-basic-weight-text);
  line-height: 21px;
}

.main-section__button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  gap: 0px;
  padding: 0;
}

.footer {
  background-color: var(--background-color);
  margin-block-start: 2px;
  margin-block-end: 105px;
}

.footer__button {
  position: relative;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--theme-mainColor);
  gap: 8px;
  cursor: pointer;
  outline: none;
  transition: box-shadow 0.3s;
}

.footer__button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--theme-mainColor);
}

.footer__button::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  background-color: var(--theme-mainColor);
  animation: button__background__out 0.5s ease-in-out forwards;
}

.footer__button:hover::before {
  animation: button__background__in 0.5s ease-in-out forwards;
}

.footer__button__text {
  font-family: var(--font-additional), Arial, fantasy;
  font-size: 14px;
  font-style: normal;
  font-weight: var(--font-basic-weight-text);
  line-height: 90%;
  color: var(--button-textColor);
  mix-blend-mode: difference;
}

.footer__disk {
  fill: var(--button-textColor);
  mix-blend-mode: difference;
}

dialog::backdrop {
  background-color: #000;
  opacity: 0.75;
}

.popup {
  background-color: var(--background-color);
  border: 2px solid var(--theme-mainColor);
  padding: 0;
}

.popup-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.popup-container {
  display: grid;
  grid-template-columns: 39px auto;
  justify-content: center;
  align-items: center;
  margin-block-start: 32px;
}

.popup-disk { 
  fill: var(--button-textColor);
  mix-blend-mode: difference;
}

.popup-text {
  font-family: var(--font-additional), Arial, fantasy;
  font-size: 14px;
  font-style: normal;
  font-weight: var(--font-basic-weight-text);
  line-height: 150%;
  text-transform: uppercase;
  color: var(--theme-mainColor);
  background-color: var(--background-color);
  margin-inline-start: 20px;
}

.popup-button {
  font-family: var(--font-additional), Arial, fantasy;
  font-size: 14px;
  font-style: normal;
  font-weight: var(--font-basic-weight-text);
  line-height: 90%;
  text-transform: uppercase;
  color: var(--theme-mainColor);
  border: 2px solid var(--theme-mainColor);
  background-color: var(--background-color);
  height: 38px;
  padding: 9px 17px;
  cursor: pointer;
  margin-block-end: 32px;
  outline: none;
  position: relative;
}

.popup-button-text {
  text-transform: uppercase;
  z-index: 1;
  color: var(--button-textColor);
  mix-blend-mode: difference;
}

.popup-button::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  background-color: var(--theme-mainColor);
  animation: button__background__out 0.5s ease-in-out forwards;
}

.popup-button:hover::before {
  animation: button__background__in 0.5s ease-in-out forwards;
}

.popup-button:focus {
  box-shadow: 2px 2px 0px 0px var(--theme-mainColor);
}
