/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    /* Переменные светлой темы */
    --font-basic: 'Inter';
    --font-basic-weight-header: 700;
    --font-basic-weight-text: 400;
    --font-additional: 'PressStart2P';
    --background-color: #FFF;
    --theme-mainColor: #000;
    --button-textColor: #FFF;
    --heart-fill: red;
    --background-image-horizontal: repeating-linear-gradient(90deg,#d3d3d3 0px,#d3d3d3 2px, rgb(211 211 211 / 0) 2px,rgb(211 211 211 / 0) 4px);
    --background-image-vertical: repeating-linear-gradient(0deg,#e7e7e7 0px,#e7e7e7 2px,#1a1a1a 2px,#1a1a1a 4px);
    --background-image-general: linear-gradient(0deg,rgb(26,26,26,1), rgb(231,231,231,1));
    --header-block-min: 375px;
    --header-block-mid: calc(100% * 696 / (696 + 372 * 2));
    --header-block-max: 696px;
  }
 